# Base de datos PostgreSQL (local o remoto)
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/deto_db?schema=public"

# Auth.js / NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="deto-super-secret-development-key-32-characters-min"

# URL base de la aplicación
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Notificaciones por Email (Opcional - si no se define, se simula en consola del servidor)
RESEND_API_KEY=""
EMAIL_FROM="Deto Citas <onboarding@resend.dev>"
