# Base de datos PostgreSQL
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/deto_db?schema=public"

# Auth.js / NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="deto-super-secret-development-key-32-characters-min"

# Stripe (Opcional en MVP, integrado y listo para conectar)
STRIPE_SECRET_KEY="sk_test_mock_stripe_secret_key"
STRIPE_PUBLISHABLE_KEY="pk_test_mock_stripe_publishable_key"
STRIPE_WEBHOOK_SECRET="whsec_mock_stripe_webhook_secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
